@media (max-width: @screen-md-max) {
    .container{
        padding: 0;
        overflow-x: hidden;
    }
}

/* ----- BACKGROUND ----- */
body {
    background-image: url('../img/harley.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: -10px;
    background-attachment: fixed;
}


/* ----- BODY ----- */

#header {
  height: 150px;
  margin-top: 0px;
  margin-bottom: 0;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  background-attachment: fixed;
}


#header h1 {

  font-family: "Trocchi", serif;
  color: #3E2F1B;
  padding-top: 30px;
}

#header h2 {

  font-family: "Trocchi", serif;
  color: #644A26;
  font-size: 20px;
  padding-top: 20px;
}

/* -- RESPONSIVE HEADER (need to add more) */

@media all and (max-width: 2000px) {
  #header h1 {
    font-size: 5.7em;
  }
}

@media all and (max-width: 1500px) {
  #header h1 {
    font-size: 5.0em;
  }
}

@media all and (max-width: 1000px) {
  #header h1 {
    font-size: 4.3em;
  }
}

@media all and (max-width: 750px) {
  #header h1 {
    font-size: 3.7em;
  }
}

@media all and (max-width: 700px) {
  #header h1 {
    font-size: 3.0em;
  }
}

@media all and (max-width: 500px) {
  #header h1 {
    font-size: 2.3em;
  }
}
<<<<<<< HEAD

/* ----- NAVIGATION BAR ----- */

/* ----- NAVIGATION BAR ----- */

#nav {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  background-color: #76C5CF;
  background-size: cover;
}

#nav ul {
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-table;
}

#nav ul:after{
  content: "";
  clear: both;
  display: inline-block;
}

#nav ul li {
  float: left;
  position: relative;
}

#nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-family: "Trocchi", serif;
}

#nav ul li:hover {
  background: #63ACB6;
}

#nav ul li:hover a {
  color: white;
}

#nav ul ul {
  display: none;
  background: #76C5CF;
  position: absolute;
  top: 100%;
  width: 200px;
}

#nav ul li:hover > ul {
  display: block;
}

#nav ul ul li {
  float: left;
  border-bottom: 1px solid white;
}
=======
>>>>>>> origin/master
